<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THOK.AS.Sorting.Properties.Settings.SortDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=SortDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>