<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THOK.HSS.Properties.Settings.SortDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=SortDB;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="THOK.HSS.Properties.Settings.LogisticsConnectionString"
            connectionString="Data Source=.;Initial Catalog=Logistics;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>